[MESSAGES CONTROL]
disable=
    c-extension-no-member,
    consider-iterating-dictionary,
    consider-using-f-string,
    invalid-name,
    line-too-long,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    R0801,
    raise-missing-from,
    redefined-builtin,
    redefined-outer-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-positional-arguments,
    unspecified-encoding,
    unused-argument,
