name: Run all tests
on:
    pull_request:
    push:
    release:
        types: published
    schedule:
        - cron: 0 0 1 * *  # Run once every month
jobs:
    run-pytest:
        strategy:
            fail-fast: false
            matrix:
                py: ['3.7', '3.8', '3.9', '3.10', '3.11']
                os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.py }}
            - name: "Install requirements"
              run: |
                  python -m pip install -r requirements-dev.txt
            - name: "Run pytest"
              run: |
                  pytest
